<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogg: Home</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h1> Blog by @Sean_or_Tony</h1>
        </div>
        <div class="content">
            {% for post in post %}
            <article>
                <h2><a href="">{{ post.title }}</a></h2>
                <h3>By: {{ post.author }}</h3>
                <p>{{ post.content }}</p>
                <time>published: {{ post.date_published }}</time>
            </article>
            {% endfor %}
        </div>
        <div class="footer">
            <footer>
                <h4>Site by @Sean_or_Tony - 2022 | All rights reserved</h4>
            </footer>
        </div>
    </div>
</body>
</html>