<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogg: Home</title>
</head>
<body>
    <div class="container">
        <div class="head">
            <h1> Blog by @Sean_or_Tony</h1>
        </div>
        <div class="content">
            <article>
                <h2><a href="">My first post</a></h2>
                <p>
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                    tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                </p>
                <time>published: 14.06.2014, 12:14</time>
            </article>

            <article>
                <h2><a href="">My second post</a></h2>
                <p>
                    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                    Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo,
                    tortor mauris condimentum nibh, ut f.
                </p>
                <time>published: 14.06.2014, 12:14</time>
            </article>
        </div>
        <div class="footer">
            <footer>
                <h4>Site by @Sean_or_Tony - 2022 | All rights reserved</h4>
            </footer>
        </div>
    </div>
</body>
</html>