{% extends 'blogg/base.html' %}

{% block content %}
            {% for post in post %}
                <article>
                    <h2>  <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <hr />
                    <p>{{ post.content }}</p>
                    <hr />
                    <time>published: {{ post.date_published }}</time>
                    <h4>By: {{ post.author | linebreaksbr}}</h4>
                </article>
            {% endfor %}
{% endblock %}